.layouts {
  padding: 20px;

  .layouts__icon {
    display: block;
    width: 100%;
    text-align: end;
    color: rgba(94, 94, 94, 0.608);
    cursor: pointer;
  }

  .items-wrapper {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 100px;

    .item {
      .item__image {
        width: 100%;
        object-fit: cover;
      }
      .item__name {
        display: inline-block;
      }
    }
  }
}
